{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
            <h3 class="text-muted">Please sign up</h3>
            {{ form_start(form) }}
            {{ form_row(form.fullName) }}
            {{ form_row(form.mobilePhone) }}
            {{ form_row(form.ids) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            <span>{{ form_label(form.subscriptions, "Subscriptions") }}</span>
            <ul class="subscriptions"
                data-prototype="{{ form_widget(form.subscriptions.vars.prototype)|e('html_attr') }}">
                {{ form_widget(form.subscriptions.vars.prototype.topic)|e }}
            </ul>
            <span>{{ form_label(form.customFields, "custom Fields") }}</span>
            <ul class="custom-fields"
                data-prototype="{{ form_widget(form.customFields.vars.prototype)|e('html_attr') }}">
                {{ form_widget(form.customFields.vars.prototype.name)|e }}
            </ul>
            {{ form_end(form) }}
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
{% endblock %}